$indentation: 2em;


h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  box-sizing: border-box;
  color: rgb(222, 222, 222);
  &:empty {
    display: none;
  }
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom-color: rgb(203, 203, 203);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 2.5rem;
}

h2 {
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  border-bottom-color: rgb(170, 170, 170);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 1.8rem;
}

h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1.4rem;
}

h4 {
  padding-top: 8px;
  margin-bottom: 0;
  font-size: 1.2rem;
}

h5 {
  margin-bottom: 0;
  font-size: 1.1rem;
}

h6 {
  margin-bottom: 0;
  font-size: 1rem;
}

.container {
  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > h5:first-child,
  > h6:first-child {
    margin-top: 30px;
  }
}

p {
  text-indent: $indentation;
  margin-bottom: 1.326em; // 段间距
  white-space: break-spaces;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 2.7em;
}

a {
  text-decoration: underline;
  color: rgb(20, 230, 146);

  &:active, &:hover {
    color: rgb(20, 202, 230);
    @at-root {
      #{selector-parse(&)} {
        cursor: pointer;
      }
    }
  }
}

.dropcap {
  color: red;
  float: left;
  font-size: 5rem;
  line-height: 3.5rem;
  margin: 0;
  padding: 0.5rem;
}

/* hide visually from eyes, but not aurally from screen readers */
.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  white-space: nowrap;
  width: 1px;
  display: none;
}

img {
  max-width: 80%;
  max-height: 80%;      
  margin: auto;
  display: block;
}

// 定义 ul 样式
ul {
  list-style-type: none; // 隐藏默认的列表样式
  padding-left: $indentation; // 左侧缩进
  margin: 0; // 确保没有外边距
  & > li {
    position: relative; // 使 li 相对定位，以便容纳子级 ul
    padding-left: 1em; // 左侧缩进，以容纳圆点或其他列表样式
    margin-bottom: 0.5em; // 项目之间的间距
    &::before {
      content: '\2022'; // 使用圆点作为项目标记
      position: absolute;
      left: -1em; // 圆点与文字之间的距离
      color: #7d8a9f;
    }
  }
}

// 定义 ol 样式
ol {
  list-style-type: none;
  counter-reset: li;
  padding-left: $indentation;
  margin: 0;
  & > li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.5em;
    &::before {
      content: counter(li) ". ";
      counter-increment: li;
      position: absolute;
      left: -2em;
      width: $indentation;
      text-align: right; // 右对齐编号
      color: #7d8a9f;
    }
  }
}

blockquote {
  display: block;
  clear: both;
  font-size: 1em;
  font-style: normal;
  line-height: 1.8;
  text-indent: 0;
  border: none;
  color: rgb(193, 213, 185);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

blockquote:before {
  content: "\201c";
  left: 0;
  top: 0;
  transform: translateY(-100%) translateX(-100%);
  color: #e0e0e0;
  font-size: 4em;
  font-family: Arial, serif;
  line-height: 1em;
  font-weight: 700;
  position: absolute;
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote:after {
  content: "\201d";
  right: 0;
  bottom: 0;
  transform: translateY(100%) translateX(100%);
  color: #e0e0e0;
  font-size: 4em;
  font-family: Arial, serif;
  line-height: 1em;
  font-weight: 700;
  position: absolute;
  margin-top: 1em;
  margin-bottom: 1em;
}


ul[name='user-content-table-of-contents'] {
  p {
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
  list-style-type: none;
  padding-left: $indentation;
  margin: 0;

  & > li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.3em;

    &::before {
      display: none;
    }

    // Nested ul styles
    ul {
      list-style-type: none;
      padding-left: $indentation;

      & > li {
        position: relative;
        padding-left: 1em;
        margin-bottom: 0.3em;

        &::before {
          display: none;
        }

        ul {
          padding-left: $indentation * 2;
        }
      }
    }
  }
}

@import url(./table.scss);
@import url(./code-block.scss);
