@import url('./scroll-bar.scss');

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls {
    width: 10px;
    height: 10px;
  }
}


body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {  
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  overflow-x: hidden !important;
  border: 1px solid transparent;
  font-family:
      system-ui, -apple-system,
      BlinkMacSystemFont,
      "Segoe UI", Roboto,
      "Helvetica Neue",
      Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#application {  
  display: block;
  position: fixed;
  height: auto;
  width: auto;
  overflow-y: auto;
}

.container {
  display: flex;
  width: 100vw;
  -webkit-app-region: no-drag;
  height: calc(100vh - 20px) !important;
  margin-top: 20px;
}

.left-pane, .right-pane {
  flex: 1;
}

.left-pane {
  min-width: 50%;
  overflow-y: scroll;
}

.right-pane {
  overflow-y: scroll;
  min-width: 50%;
  max-width: 50%;
  font-size: 1em; // 正文字号
  line-height: 1.6; // 行高
  margin: 1.6em; // 页边距
  padding-right: 4em;
  box-sizing: border-box;
  p {
    text-indent: 2em; // 首行缩进
    margin-bottom: 1.326em; // 段间距
    white-space: break-spaces;
    word-wrap: break-word;
    word-break: break-all;
  }
}

#title-bar {
  font-family: "Kust";
  display: block;
  position: fixed;
  width: calc(100% - 2px);
  background: transparent;
  padding: 4px;
  color: #FFF;
}

#title-bar #drag-region {
  width: 100%;  
  height: 20px;
  -webkit-app-region: drag;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .bar-button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

.bar-button {
  svg {
    stroke: white;
  }
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .bar-button {
  user-select: none;
}
#window-controls .bar-button:hover {
  background: rgba(0, 102, 255, 0.5);
}
#window-controls .bar-button:active {
  background: rgba(35, 209, 235, 0.5);
}

#close-button:hover {
  background: #E81123 !important;
}
#close-button:active {
  background: #F1707A !important;
}

#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}


#drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 4px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

#window-title {
  -webkit-region-app: drag;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }
}

.maximized #title-bar {
  width: 100%;
  padding: 0;
}

.maximized #window-title {
  margin-left: 12px;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}


.cm-gutters {
  background-color: transparent !important;
}


.cm-gutter-element {
  color: #ffffff;
}

.cm-gutter-element:hover {
  color: #000000;
}

.cm-content {
  white-space: pre-wrap;
}

a {
  text-decoration: underline;
  color: rgb(20, 230, 146);

  &:active, &:hover {
    color: rgb(20, 202, 230);
    @at-root {
      #{selector-parse(&)} {
        cursor: pointer;
      }
    }
  }
}


#viewer {
  img {
    max-width: 80%;
    max-height: 80%;      
    margin: auto;
    display: block;
  }
}

// 全局设置
$indentation: 2em;

// 定义 ul 样式
ul {
  list-style-type: none; // 隐藏默认的列表样式
  padding-left: $indentation; // 左侧缩进
  margin: 0; // 确保没有外边距
  & > li {
    position: relative; // 使 li 相对定位，以便容纳子级 ul
    padding-left: 1em; // 左侧缩进，以容纳圆点或其他列表样式
    margin-bottom: 0.5em; // 项目之间的间距
    &::before {
      content: '\2022'; // 使用圆点作为项目标记
      position: absolute;
      left: -1em; // 圆点与文字之间的距离
    }
  }
}

// 定义 ol 样式
ol {
  list-style-type: none;
  counter-reset: li;
  padding-left: $indentation;
  margin: 0;
  & > li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.5em;
    &::before {
      content: counter(li) ". ";
      counter-increment: li;
      position: absolute;
      left: -2em;
      width: $indentation;
      text-align: right; // 右对齐编号
    }
  }
}

blockquote {
  display: block;
  clear: both;
  font-size: 1em;
  font-style: normal;
  line-height: 1.8;
  text-indent: 0;
  border: none;
  color: rgb(193, 213, 185);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

blockquote:before {
  content: "\201c";
  left: 0;
  top: 0;
  transform: translateY(-100%) translateX(-100%);
  color: #e0e0e0;
  font-size: 4em;
  font-family: Arial, serif;
  line-height: 1em;
  font-weight: 700;
  position: absolute;
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote:after {
  content: "\201d";
  right: 0;
  bottom: 0;
  transform: translateY(100%) translateX(100%);
  color: #e0e0e0;
  font-size: 4em;
  font-family: Arial, serif;
  line-height: 1em;
  font-weight: 700;
  position: absolute;
  margin-top: 1em;
  margin-bottom: 1em;
}


p {
  text-align: justify; 
}

$indentation: 20px; // 你可以根据需要调整缩进大小

ul[name='user-content-table-of-contents'] {
  p {
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
  list-style-type: none;
  padding-left: $indentation;
  margin: 0;

  & > li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.3em;

    &::before {
      display: none;
    }

    // Nested ul styles
    ul {
      list-style-type: none;
      padding-left: $indentation;

      & > li {
        position: relative;
        padding-left: 1em;
        margin-bottom: 0.3em;

        &::before {
          display: none;
        }

        ul {
          padding-left: $indentation * 2;
        }
      }
    }
  }
}

