@import url('./scroll-bar.scss');

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls {
    width: 10px;
    height: 10px;
  }
}


body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {  
  background-color: transparent;
  color: #ffffff;
  overflow-x: hidden !important;
  border: 1px solid transparent;
  font-family:
      system-ui, -apple-system,
      BlinkMacSystemFont,
      "Segoe UI", Roboto,
      "Helvetica Neue",
      Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#application {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;  
  display: block;
  position: fixed;
  height: auto;
  width: auto;
  overflow-y: auto;
}

.container {
  display: flex;
  width: 100vw;
  -webkit-app-region: no-drag;
  height: calc(100vh - 24px) !important;
  margin-top: 24px;
}

.left-pane, .right-pane {
  flex: 1;
}

.left-pane {
  min-width: 50%;
  overflow-y: scroll;
}

.right-pane {
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 50%;
  max-width: 50%;
  font-size: 1em; // 正文字号
  line-height: 1.6; // 行高
  margin: 1.6em; // 页边距
  padding-right: 4em;
  box-sizing: border-box;
}

#title-bar {
  font-family: "Kust";
  display: block;
  position: fixed;
  width: calc(100% - 2px);
  background: transparent;
  padding: 4px;
  color: #FFF;
}

#title-bar #drag-region {
  width: 100%;  
  height: 20px;
  -webkit-app-region: drag;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .bar-button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

.bar-button {
  svg {
    stroke: white;
  }
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .bar-button {
  user-select: none;
}
#window-controls .bar-button:hover {
  background: rgba(0, 102, 255, 0.5);
}
#window-controls .bar-button:active {
  background: rgba(35, 209, 235, 0.5);
}

#close-button:hover {
  background: #E81123 !important;
}
#close-button:active {
  background: #F1707A !important;
}

#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}


#drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 4px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

#window-title {
  -webkit-region-app: drag;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }
}

.maximized #title-bar {
  width: 100%;
  padding: 0;
}

.maximized #window-title {
  margin-left: 12px;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}


.cm-gutters {
  background-color: transparent !important;
}


.cm-gutter-element {
  color: #ffffff;
}

.cm-gutter-element:hover {
  color: #000000;
}

.cm-content {
  white-space: pre-wrap;
}

